# Environment Configuration
NODE_ENV="" # Options: 'development', 'production'
PORT=""            # The port your server will listen on
HOST=""       # Hostname for the server
DATACAPSTATS_API_KEY="" # API Key for DataCapStats API
GITHUB_TOKEN="" # GitHub token for API requests
IP_INFO_TOKEN="" # token to get requests from ipinfo.io

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP
REQUEST_TIMEOUT_LIMIT="5000" # Request timeout limit (ms)
DATACAP_API_URL="http://api.datacapstats.io/public/api" # DataCapStats API URL
VERIFIED_CLIENTS_QUERY_LIMIT="20" # Number of clients to return in the verified clients endpoint

# Database Configuration
DB_HOST="localhost" # Database host
DB_PORT="5432" # Database port
DB_USER="postgres" # Database user
DB_PASSWORD="password" # Database password
DB_NAME="pgs" # Database name



